.CreateUser {
    padding: 10px 5px;
    margin-bottom: 30px;
    transition: box-shadow .3s ease-in-out;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .14);

}

.CreateUser:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .50);
}

.CreateUser img {
    border-radius: 5px;
    width: 250px;
}
.CreateUser p:nth-of-type(3)  {
    color: darkslategray;
}